:root{
	--bg-buttons:#9D4EDD;
	--titles-footer-nav-bg:#10002B;
	--text-icons:#ECCBFF;
	--placeholder-color:#818181;
}
body{
	font-family: "Roboto", sans-serif;
}
.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
	margin-right: .4rem;
}
#main-nav{
	background-color: var(--titles-footer-nav-bg);
}
#buscar{
	display: flex;
}
#texto-nav{
	font-family: "Jaro", sans-serif;
	color: var(--text-icons);
	font-size: 1.5rem;
}
#b-input{
	background-color: #ffffff;
	color: black;
	max-width: 160rem;
}
#b-input::placeholder{
	color: var(--placeholder-color);
}
#btn-nav{
	background-color: var(--bg-buttons);
	border: none;
}
#menu-ico{
	font-size: 2rem;
	color: var(--text-icons);
}
#btn2-nav{
	border: none;
}
.navbar-nav{
	text-align: center;
}
#nav-item-dropdown{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-item{
	display: flex;
	justify-content: center;
	align-items: center;
}
#user-ico{
	font-size: 1.5rem;
	color: var(--text-icons);
}
#u-ico, #u-text{
	cursor: default;
}
#u-text, #u-ico:hover{
	color: var(--text-icons);
	background-color: transparent;
}
.nav-link:hover{
	color: #ffffff;
	background-color: var(--bg-buttons);
	border-radius: 6px;
}
.nav-link{
	color: var(--text-icons);;
}
.dropdown-item:focus{
	background-color: var(--bg-buttons);
}
#f-container{
	background-color: var(--titles-footer-nav-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#title-footer{
	font-family: "Jaro", sans-serif;
	color: var(--text-icons);
	margin-top: .6rem;
}
.container-ico{
	color: black;
	cursor: pointer;
	background-color: var(--text-icons);
	border-radius: 9999999px;
	padding: .4rem .85rem;
	display: inline-block;
	transition: .2s ease;
}
.container-ico:hover{
	scale: 1.1;
	transition: .2s ease;
}
#social-media{
	margin-top: .7rem;
	width: 30rem;
}
#social-icon{
	font-size: 1.7rem;
}
.col{
	padding-left: .4rem;
	padding-right: .4rem;
}
.f-links{
	color: var(--text-icons);
}
.f-links:hover{
	color: skyblue;
}
#f-3-c{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;	
}
#link-container{
	margin-top: .9rem;
}
#copyright{
	color: var(--text-icons);
}
.title, .welcome-desc{
	color: var(--titles-footer-nav-bg);
}
#carouselExampleAutoplaying, #c-img{
	height: 30rem;
	border-radius: 1.5rem;
}
#c-img{
	object-fit: cover;
}
#car{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#welcome{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.m-content{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main-btn{
	background-color: var(--bg-buttons);
	border: none;
	transition: .2s ease;
}
#main-btn:hover{
	scale: 1.05;
	transition: .2s ease;
}
.last-title{
	color: var(--titles-footer-nav-bg);
}
.eventos-destacados{
	color: var(--titles-footer-nav-bg);
}
#dest-cards{
	padding: 0px;
	margin-top: 2rem;
	padding-left: .5rem;
}
.eventos-destacados{
	color: var(--titles-footer-nav-bg);
}

#border-card{
	max-width: 100%;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-left: .8rem;
	padding-right: .8rem;
}
.card-title{
	font-size: x-large;
	color: var(--titles-footer-nav-bg);
	margin: .7rem 0rem;
}
#card-button{
	background-color: var(--bg-buttons);
	border: none;
	transition: .2s ease;
	margin-top: .7rem;
}
#card-button:hover{
	scale: 1.1;
	transition: .2s ease;
}
#eventos{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
#border-card{
	text-align: center;
	margin-top: 1rem;
}
#border-card, #img-card{
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
#img-card{
	width: 300px;
	height: 350px;
	object-fit: cover;
}
.inside-card{
	background-color: red;
	height: 460px;
}
#promocion{
	text-align: center;
	margin-top: 3rem;
}
#last-form{
	text-align: center;
}
#last-text{
	background-color: var(--bg-buttons);
	border: none;
	margin-top: 1rem;
}
.action-call{
	margin-bottom: 4rem;
}
#buscar2{
	display: none;
}
@media (max-width:485px){
	#buscar{
		display: none;
	}
	#buscar2{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
}
@media (min-width:768px){
	#navbarNavDropdown{
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: row-reverse;
	}
}
@media (max-width:650px){
	#f-container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#social-media{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: .7rem;
		max-width: 204px;
	}	
	#social-icon{
		font-size: 1.2rem;
	}
	#w-ico{
		padding-top: .6rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}
	.container-ico{
		padding: .4rem .7rem;
	}
}
@media (max-width:500px){
	#f-3-c{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;	
	}
	#link-container{
		margin-top: .6rem;
	}
}
@media (min-width:965px){
	#f-3-c{
		width: 59rem;
		margin-top: .7rem;
	}
}

@media (max-width:599px){
	#carouselExampleAutoplaying, #c-img{
		height: 15rem;
		width: 180px;
		margin-top: 1;
	}
	#carouselExampleAutoplaying{
		margin-top: 1rem;
	}
}

@media (max-width:800px){
	#img-card{
		width: 200px;
		height: 250px;
		object-fit: cover;
	}
}
@media (min-width:1000px){
	#card-button{
		font-size: 1.3rem;
	}
	#last-text{
		font-size: 1.3rem;
	}
}