:root{
	--bg-buttons:#9D4EDD;
	--titles-footer-nav-bg:#10002B;
	--text-icons:#ECCBFF;
	--placeholder-color:#818181;
}
body{
	font-family: "Roboto", sans-serif;
}
.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
	margin-right: .4rem;
}
#main-nav{
	background-color: var(--titles-footer-nav-bg);
}
#buscar{
	display: flex;
}
#texto-nav{
	font-family: "Jaro", sans-serif;
	color: var(--text-icons);
	font-size: 1.5rem;
}
#b-input{
	background-color: #ffffff;
	color: black;
	max-width: 160rem;
}
#b-input::placeholder{
	color: var(--placeholder-color);
}
#btn-nav{
	background-color: var(--bg-buttons);
	border: none;
}
#menu-ico{
	font-size: 2rem;
	color: var(--text-icons);
}
#btn2-nav{
	border: none;
}
.navbar-nav{
	text-align: center;
}
#nav-item-dropdown{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-item{
	display: flex;
	justify-content: center;
	align-items: center;
}
#user-ico{
	font-size: 1.5rem;
	color: var(--text-icons);
}
#u-ico, #u-text{
	cursor: default;
}
#u-text, #u-ico:hover{
	color: var(--text-icons);
	background-color: transparent;
}
.nav-link:hover{
	color: #ffffff;
	background-color: var(--bg-buttons);
	border-radius: 6px;
}
.nav-link{
	color: var(--text-icons);;
}
.dropdown-item:focus{
	background-color: var(--bg-buttons);
}
#f-container{
	background-color: var(--titles-footer-nav-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#title-footer{
	font-family: "Jaro", sans-serif;
	color: var(--text-icons);
	margin-top: .6rem;
}
.container-ico{
	color: black;
	cursor: pointer;
	background-color: var(--text-icons);
	border-radius: 9999999px;
	padding: .4rem .85rem;
	display: inline-block;
	transition: .2s ease;
}
.container-ico:hover{
	scale: 1.1;
	transition: .2s ease;
}
#social-media{
	margin-top: .7rem;
	width: 30rem;
}
#social-icon{
	font-size: 1.7rem;
}
.col{
	padding-left: .4rem;
	padding-right: .4rem;
}
.f-links{
	color: var(--text-icons);
}
.f-links:hover{
	color: skyblue;
}
#f-3-c{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;	
}
#link-container{
	margin-top: .9rem;
}
#copyright{
	color: var(--text-icons);
}
#buscar2{
	display: none;
}
@media (max-width:485px){
	#buscar{
		display: none;
	}
	#buscar2{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
}
@media (min-width:768px){
	#navbarNavDropdown{
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}
}
@media (max-width:650px){
	#f-container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#social-media{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: .7rem;
		max-width: 204px;
	}	
	#social-icon{
		font-size: 1.2rem;
	}
	#w-ico{
		padding-top: .6rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}
	.container-ico{
		padding: .4rem .7rem;
	}
}
@media (max-width:500px){
	#f-3-c{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;	
	}
	#link-container{
		margin-top: .6rem;
	}
}
@media (min-width:965px){
	#f-3-c{
		width: 59rem;
		margin-top: .7rem;
	}
}

/* Estilos del contenido */

.titulo-evento{
	color: var(--titles-footer-nav-bg);
	font-size: 3rem;
}
#info-event-row{
	text-align: center;
	margin-top: 1rem;
}
#image-align{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 1rem;
}
#event-image{
	height: 500px;
	object-fit: cover;
	border-radius: 2rem;
}
#titulo-compra{
	color: var(--bg-buttons);
	margin-top: 1.5rem;
	font-size: 2.3rem;
}
#btn-accordion{
	font-size: 1.5rem;
	background-color: var(--bg-buttons);
	color: white;
	border: solid black;
}
#btn-compra{
	background-color: var(--bg-buttons);
	border: none;
	color: white;
	margin-top: 1rem;
	transition: .2s ease;
}
#btn-compra:hover{
	transition: .2s ease;
	scale: 1.05;
}
#contenedor-compra{
	width: 952.38px;
}
#cont-pago{
	display: flex;
	justify-content: center;
	align-items: center;
}
.accordion-body{
	border: solid;
	border-top: none;
}
#first-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.t-desc{
	margin-top: 3rem;
}
#second-desc-cont{
	width: 952.38px;
}
.t-desc,.e-desc{
	color: var(--titles-footer-nav-bg);
}
#map{
	width: 952.38px;
	height: 25rem;
}
#general-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1rem;
}
#second-container{
	width: 952.38px;
}
#buttons{
	background-color: var(--bg-buttons);
	border: none;
	transition: .2s ease;
	width: 25rem;
}
#buttons:hover{
	transition: .2s ease;
	scale: 1.05;
}
#center-zone{
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width:986px){
	#event-image{
		width: 100%;
		height: 100%;
	}
	#contenedor-compra{
		width: 100%;
	}
	#second-desc-cont{
		width: 100%;
	}
	#map{
		width: 100%;
		height: 20rem;
	}
	#second-container{
		width: 100%;
	}
	#buttons{
		width: 14rem;
		margin-top: 1rem;
	}
}
@media (min-width:987px){
	#btn-compra, #buttons{
	 font-size: 1.4rem;
	 margin-top: 2rem;
	 transition: .2s ease;
	}
}
@media (max-width:286px){
	#btn-accordion{
		font-size: 1rem;
	}
}
.f-web{
	margin-top: 3rem;
}